@model IEnumerable<Kitaplik_Mvc.Models.Entities.Uye>

@{
    ViewData["Title"] = "Uyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <h1>Üye Listesi</h1>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Üye ara..." onkeyup="searchMembers()">
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Email</th>
                <th>Şifre</th>
                <th>Adres</th>
                <th>Telefon Numarası</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var uye in Model)
            {
                <tr>
                    <td>@uye.Ad</td>
                    <td>@uye.Soyad</td>
                    <td>@uye.Email</td>
                    <td>@uye.Sifre</td>
                    <td>@uye.Adres</td>
                    <td>@uye.TelefonNumarasi</td>
                    <td>
                        <a asp-controller="Uye" asp-action="Guncelle" asp-route-id="@uye.Id" class="btn btn-primary">Güncelle</a>
                    </td>
                    <td><a asp-controller="Uye" asp-action="Sil" asp-route-id="@uye.Id" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <a asp-controller="Uye" asp-action="UyeOl" class="btn btn-success">Üye Ekle</a>
    </div>

</div>

<script>
    function searchMembers() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("MemberTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
