@model IEnumerable<Kitaplik_Mvc.Models.Entities.Kitap>
@using Kitaplik_Mvc.Models.Entities

@{
    ViewData["Title"] = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Kitap Listesi</h1>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Başlıkla Ara..." onkeyup="searchTable('searchInput', 'bookTable', 1)">
    </div>

    <table class="table" id="bookTable">
        <thead>
            <tr>
                <th>Görsel</th>
                <th>Başlık</th>
                <th>Yazar</th>
                <th>Yayın Tarihi</th>
                <th>ISBN</th>
                <th>Kategori</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kitap in Model)
            {
                <tr onclick="selectRow(this)">
                    <td>
                        <img src="@Url.Content(kitap.Image)" class="table-img" alt="Kitap Resmi">
                    </td>
                    <td>@kitap.Baslik</td>
                    <td>@kitap.Yazar?.Ad @kitap.Yazar?.Soyad</td>
                    <td>@kitap.YayinTarihi.ToShortDateString()</td>
                    <td>@kitap.ISBN</td>
                    <td>@kitap.Kategori?.Isim</td>
                    <td>
                        <a href="@Url.Action("Guncelle", "Kitap", new { id = kitap.Id })"
                           class="btn btn-primary">Güncelle</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Sil", "Kitap", new { id = kitap.Id })"
                           class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <a href="@Url.Action("Ekle", "Kitap")" class="btn btn-success">Kitap Ekle</a>
    </div>
</div>
