@model IEnumerable<Kitaplik_Mvc.Models.Entities.Yazar>
@using Kitaplik_Mvc.Models.Entities

@{
    ViewData["Title"] = "Yazarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Yazar Listesi</h1>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Yazar adı ile ara..." onkeyup="searchTable('searchInput', 'authorTable', 0)">
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Doğum Tarihi</th>
                <th>Biyografi</th>
                <th>Kitaplar</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yazar in Model)
            {
                <tr onclick="selectRow(this)">
                    <td>@yazar.Ad</td>
                    <td>@yazar.Soyad</td>
                    <td>@yazar.DogumTarihi.ToShortDateString()</td>
                    <td>@yazar.Biyografi</td>
                    <td>
                        @if (yazar.Kitaplar != null && yazar.Kitaplar.Any())
                        {
                            <ul>
                                @foreach (var kitap in yazar.Kitaplar)
                                {
                                    <li>@kitap.Baslik</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Kitap Bulunamadı.</span>
                        }
                    </td>
                    <td><a asp-controller="Yazar" asp-action="Guncelle" asp-route-id="@yazar.Id" class="btn btn-primary">Güncelle</a></td>
                    <td><a asp-controller="Yazar" asp-action="Sil" asp-route-id="@yazar.Id" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <a asp-controller="Yazar" asp-action="Ekle" class="btn btn-success">Yazar Ekle</a>
    </div>
</div>

